<!DOCTYPE html>
<html>
<head>
  <title>RailsDeviseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gigsley</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about/press">Press</a></li>

              <li><a href="/about/policies">Policies</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/support/faq">FAQ</a></li>
              <li><a href="/support/inquiry">Inquiries</a></li>
            </ul>
          </li>
          <% if current_user %>
              <% if !current_user.profile.blank? && current_user.profile.provider == true %>
                  <li class="dropdown">
                    <a href="/gigs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gigs<span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                      <li><a href="/gigs">Looking for a Gig!</a></li>
                    </ul>
                  </li>

              <% end %>
              <%# if !current_user.profile.blank? && current_user.profile.customer == true %>
              <!--<li role="presentation"><a href="/providers">Hire Someone</a></li>-->
              <%# end %>
              <% if !current_user.profile.blank? %>
                  <li role="presentation"><a href="/conversations">Messages</a></li>
              <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !current_user %>
              <li role="presentation"><a href="/users/sign_in">Login</a></li>
          <% else %>
              <% if current_user && current_user.email.present? %>
                  <li class="dropdown" role="presentation">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <% if current_user.present? && (current_user.profile.blank? || current_user.profile.bio.blank?) %>
                          <li><a href="/setups/<%= current_user.id %>/edit" >Edit Your Profile</a></li>
                      <% else %>
                          <li><a href="/profile/index" >View All Profiles</a></li>
                          <li><a href="/profile/<%= current_user.id %>" >View Your Profile</a></li>
                          <li><a href="/profile/<%= current_user.id %>/edit" >Edit Your Profile</a></li>
                          <li><a href="/galleries">Create/Edit Your Personal Gallery</a></li>
                      <% end %>
                    </ul>
                  </li>
              <% end %>
              <li role="presentation"><%=link_to("Logout", destroy_user_session_path, method: :delete) %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '538780962967594',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

</html>
